body {
  font-family: 'Manrope', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cdeaea;
  border-radius: 10px;
}

.material-filled {
  font-variation-settings: 'FILL' 1;
}

